{% extends "mainapp/base.html" %}
{% block title %}EasyRTB{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MOPS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/overview/">Overview</a></li>
        <li><a href="/decomm_app/">Decomm App</a></li>
        <li><a href="/flex_updown/">Flex Up/Down</a></li>
        <li><a href="/decomm_standalone/">Decomm Standalone</a></li>
        <li><a href="/downgrade_region/">Up/Downgrade Region</a></li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">LB Operation<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">LTM </li>
                <li><a href="/lb_operation/disable_enable_vip">Disable/Enable VIP</a></li>
                <li><a href="/lb_operation/create_delete_vip">Create/Delete VIP</a></li>
                <li><a href="/lb_operation/add_remove_nodes_to_vip">VIP Add/Remove Node</a></li>
                <li role="separator" class="divider"></li>
                <li class="nav-header">GTM </li>
                </ul>
          </li>
        <li><a href="/my_tasks/">My Tasks</a></li>
        <li class="active"><a href="/all_tasks/">All Tasks</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <p class="navbar-text">Welcome, {{ user.username }}! <a href="/api/logout" class="navbar-link">Logout</a></p>
        {% else %}
        <p class="navbar-text"><a href="/" class="navbar-link">Sign In</a></p>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <p class="decomm-nav"><span class="grey">All Tasks</span></p>
  <div class="row" id="srch-app">
    <div class="col-lg-2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Filter By Status
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/all_tasks/?status=Completed">Completed</a></li>
          <li><a href="/all_tasks/?status=Paused">Paused</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" id="app-keyword" placeholder="Search by app" value="{{ keyword }}" onkeydown="all_tasks.onkeydownSearch(event)">
        <span class="input-group-btn">
          <button class="btn btn-default" onclick="all_tasks.search()" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-info" href="/all_tasks/download_csv" role="button">Download CSV</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th style="width: 300px;">Application Serivce</th>
        <th style="width: 150px;">Type</th>
        <th style="width: 200px;">Status</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    {% for app in applications %}
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app.username }}</td>
        <td>{{ app.application }}</td>
        <td>{{ app.type }}</td>
        {% if app.has_err %}
        <td><span class="glyphicon glyphicon-exclamation-sign icon-alert"></span> {{ app.state_uiname }}</td>
        {% else %}
        <td>{{ app.state_uiname }}</td>
        {% endif %}
        <td><a href="/all_task_details/{{ app.id }}">Click for details</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="page navigation" id="bottom-page">
    <ul class="pagination">
      {% for p in pages %}
      {% if p == curr_page %}
      <li class="active"><a>{{ p }}<span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a class="page" onclick="all_tasks.visit_page({{ p }})">{{ p }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
{% block extrajs %}
{% endblock %}
