{% extends "mainapp/base.html" %}
{% block title %}EasyDecomm{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MOPS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/overview/">Overview</a></li>
        <li><a href="/decomm_app/">Decomm App</a></li>
        <li><a href="/flex_updown/">Flex Up/Down</a></li>
	    <li class="active"><a href="/decomm_standalone/">Decomm Standalone</a></li>
        <li><a href="/downgrade_region/">Up/Downgrade Region</a></li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">LB Operation<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">LTM </li>
                <li><a href="/lb_operation/disable_enable_vip">Disable/Enable VIP</a></li>
                <li><a href="/lb_operation/create_delete_vip">Create/Delete VIP</a></li>
                <li><a href="/lb_operation/add_remove_nodes_to_vip">VIP Add/Remove Node</a></li>
                <li role="separator" class="divider"></li>
                <li class="nav-header">GTM </li>
                </ul>
          </li>
        <li><a href="/my_tasks/">My Tasks</a></li>
        <li><a href="/all_tasks/">All Tasks</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <p class="navbar-text">Welcome, {{ user.username }}! <a href="/api/logout" class="navbar-link">Logout</a></p>
        {% else %}
        <p class="navbar-text"><a href="/" class="navbar-link">Sign In</a></p>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div id="decomm-email">
      <p class="lead">Please input the Standalone nodes you want to Decomm</p>
      <div class="form-group">
            <textarea class="form-control" id="decomm-standalone" rows="9" onkeyup="decomm.onkeyupDecomm_standalone(event)" name="fqdns" placeholder="Input ip/fqdn list&#10;&#10;10.0.0.0&#10;10.0.0.1&#10;10.0.0.2"></textarea>
        </div>
      <div class="row space-bottom">
        <div class="col-lg-2">
          <button class="btn btn-primary" id="btn-decomm-standalone" disabled type="button" onclick="decomm.confirmDecomm_standalone(event)">Start Decom</button><br /><br />
        </div>
      </div>
      <div id="decomm-errmsg">
        <div class="alert alert-warning" role="alert" id="decomm-err-alert">
        </div>
      </div>
    </div>

    <div class="modal fade" id="decomm-standalone-cfm-modal" tabindex="-1" role="dialog" aria-labelledby="decomm-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content hide-overflow">
          <div class="modal-header modal-header-bgc">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-question-sign white"></span> <span class="white">Confirm</span>
          </div>
          <div class="modal-body">
            <p class="lead modal-confirm">Are you sure you want to decomm these nodes<span id="cfm-standalone-nodes"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="decomm.startDecomm_standalone(event)">Continue</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="decomm-need-check-modal" tabindex="-1" role="dialog" aria-labelledby="decomm-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <p class="lead modal-confirm" id="decomm-need-check-info">Initiated decomming <span id="need-check-nodes"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="decomm-resp-modal" tabindex="-1" role="dialog" aria-labelledby="decomm-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <p class="lead modal-confirm" id="decomm-resp-info">Initiated decomming <span id="resp-app-id"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div id="decomm_standalone_email">
      <p class="lead">Please input the Standalone nodes which you want to Send Email</p>
      <div class="form-group">
            <textarea class="form-control" id="decomm-standalone-email" rows="9" onkeyup="decomm.onkeyupDecomm_standalone_email(event)" name="fqdns" placeholder="Input ip/fqdn list&#10;&#10;10.0.0.0&#10;10.0.0.1&#10;10.0.0.2"></textarea>
        </div>
      <div class="row space-bottom">
        <div class="col-lg-2">
          <button class="btn btn-primary" id="btn-decomm-standalone-email" disabled type="button" onclick="decomm.confirmDecomm_standalone_email(event)">Send Email</button><br /><br />
        </div>
      </div>
      <div id="decomm-errmsg">
        <div class="alert alert-warning" role="alert" id="decomm-err-alert">
        </div>
      </div>
    </div>

    <div class="modal fade" id="email-cfm-modal" tabindex="-1" role="dialog" aria-labelledby="decomm-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content hide-overflow">
          <div class="modal-header modal-header-bgc">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-question-sign white"></span> <span class="white">Confirm</span>
          </div>
          <div class="modal-body">
            <p class="lead modal-confirm">Are you sure you want to send Email to node's owner?<span id="cfm-email-nodes"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="decomm.startDecomm_standalone_email(event)">Continue</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="decomm-resp-modal" tabindex="-1" role="dialog" aria-labelledby="decomm-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <p class="lead modal-confirm" id="decomm-resp-info">Initiated decomming <span id="resp-app-id"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>




</div>


{% endblock %}
{% block extrajs %}
<script>
$(document).ready(function(){

}); 
</script>
{% endblock %}
